<h1 id="tableLabel">To-Do List</h1>

<p>Here are the things you need to do.</p>

<p *ngIf="!todos && isLoading"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="todos; else noToDos">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.title }}</td>
      <td>{{ todo.description }}</td>
      <td>{{ todo.priority }}</td>
      <td><a [routerLink]="['/todo/edit/' + todo.id]">Edit</a></td>
      <td><fa-icon [icon]="faCheckCircle"></fa-icon></td>
    </tr>
  </tbody>
</table>
<ng-template #noToDos>
  <div *ngIf="!isLoading">
    <h3>Wow! You have nothing to do.<br/>Go out and celebrate, or think of some things that you may have forgotten about!</h3>
  </div>
</ng-template>
